SERVER_NAME="localhost"
PHPBB_INSTALLED=FALSE
MYSQL_ROOT_PASSWORD=
DBPASSWD=

#DBHOST=mysql
DBPORT=
DBNAME=phpbb
DBUSER=phpbb
TABLE_PREFIX=phpbb_
PHPBB_INSTALLED=true

# Currently not migrating amazon backup variables as now I don't need them.
